*{
  box-sizing: border-box;
  font-size: 1rem;
}
body{margin: 0;
background: #666;}
.skull {
background: blue;
display: inline-block;
position: absolute;
width: 5rem;
height: 5rem;
top:calc(50% - 1rem);
left:calc(50% - 1rem);
}
.skull img{width: 100%;}

.message{
  background: blue;
  color:white;
position: absolute;
top:calc(50% + 4em);
left:calc(50% - 3em);

}
.message p{
  text-transform: capitalize;
}
.message p span{color:red;}

.guns{
  background: red;
  position: absolute;
  bottom:1rem;
  right:1rem;
}
.powerups , .gun__icon{
  display: inline-block;
}

.health{

background: red;
position: absolute;
bottom:1rem;
left: 1rem;

}
.health p{  font-size: 3rem;}

.power-circle{
  background: red;
  position: absolute;
  top:calc(70% + 1rem);
  left:calc(50% - 1rem);


}
